.active-listing-card {
    width: 156px;
}

.active-listing-card .image-container {
  display: grid;
  grid-template-rows: 1rem repeat(3, 1fr) 1rem;
  overflow: hidden;
  width: 156px;
  height: 161px;
  border-radius: 10px;
}

.image-container img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: center;
}

.image-label {
  grid-row: 1;
  grid-column: 1;
  z-index: 100;
  margin: 8px 0 0 8px;
  align-content: center;
}

.active-listing-card .listing-description {
  display: flex;
  flex-flow: row wrap;
  justify-items: left;
  gap: 8px;
}

.active-listing-card .listing-description p {
    margin: 0;
}

.active-listing-card .listing-description .itemname {
    font-weight: bold;
    color: #0B5CBB;
    flex-basis: 100%;
    padding-top: 8px;
}
.active-listing-card .listing-description .price {
    font-weight: bold;
}
