.outer-background {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}

.wrapper {
  padding: 16px;
  border-radius: 20px;
  z-index: 999;
}

.inner-background {
  background-color: var(--white);
}

.btn-wrapper {
  text-align: right;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #ccc;
}
