.selling-item-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 328px;
  height: 224px;
  padding: 20px 16px;
  gap: 12px;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px black;
  align-content: center;
}

.selling-item-description {
  display: flex;
  flex-flow: column;
}

.selling-item-card .image-container {
  width: 140px;
  height: 140px;
}
.selling-item-card .image-container img {
  width: 140px;
  height: 140px;
  border: 2px solid black;
}

.selling-item-card .quantity-container {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1440px) {
  .selling-item-card {
    width: 438px;
    height: 224px;
  }

  .selling-item-card {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
  }
}
