.meet-up-info-card {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 28px;
  gap: 8px;

  width: 330px;
  height: 427px;
  left: 14px;
  top: 635px;

  border: 1px solid #000000;
  border-radius: 20px;
}

.title-container {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.meet-up-info-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 293px;
  height: 341px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 20px;

  width: 153px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 156px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 300px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0px 0px;
  gap: 10px;

  width: 293px;
  height: 221px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

@media screen and (min-width: 1440px) {
  .meet-up-info-card {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 28px;
    gap: 8px;

    width: 665px;
    height: 474px;
    left: 620px;
    top: 253px;

    border: 1px solid #000000;
    border-radius: 20px;
  }

  .title-container {
    width: 221px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .meet-up-info-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 621px;
    height: 383px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .date-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;

    width: 153px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 156px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 360px;
    height: 29px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .map-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0px 0px;
    gap: 10px;

    width: 621px;
    height: 282px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
  }
}
