.meet-up-info-card-wrapper {
  margin: 1rem;
  width: 70%;
}

.meet-up-info-card {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: auto;
  border: 1px solid #000000;
  border-radius: 20px;
}

.meet-up-info-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-container,
.time-container,
.location-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-items: center;
  align-items: center;
}

.location-container {
  flex-wrap: row;
}

.location-container .body-1-regular {
  order: 2;
  flex-grow: 1;
}

.locationsvg {
  order: 1;
  flex-shrink: 0;
}
