.meet-up-info-card-wrapper {
  margin: 1rem;
  width: 70%;
}

.meet-up-info-card {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: auto;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 2px 2px black;
}

.meet-up-info-description {
  display: flex;
  flex-direction: column;
}

.time-container,
.date-container,
.location-container
{
  display: grid;
  grid-template-columns: .1fr 1.5fr;
  align-items: center;
  margin-bottom: .3rem;
}

