.buyer-contact-card-wrapper{
  display: block;
  margin: auto;
  padding: 1rem;
  width: 50%;
}

.buyer-contact-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  border: 1px solid var(--black);
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
}

.buyer-contact-card .h3-graphik-bold{
  grid-column: 1/-1;
}


.buyer-contact-card .image-container {
  width: 100%;
  height: auto;
  border-radius: 500px;
  justify-items: center;
  align-items: center;
  display: flex;
}

.buyer-contact-card .image-container img {
  border-radius: 500px;
  width: 100%;
  height: auto;
  border: 2px solid;
}

.buyer-description{
  display: flex;
  align-items: center;
}

.name-container, .conatct-tel-container, .email-container{
  display: flex;
  gap: .5rem;
  margin: .5rem;
}
