.ordertabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.ordertabs li{
    list-style-type: none;
    padding: 8px;
    border-radius: 100px;
}

.ordertabs li a {
    color: var(--light-gray);
    font-weight: bold;
}

.ordertabs .active a{
    color: var(--dark-blue);
    padding-bottom: 4px;
    border-bottom: 2px solid var(--yellow);
}

@media screen and (min-width: 768px) {
.ordertabs {
    justify-content: right;
    gap: 8px;
}
}