main {
  background-color: var(--bg-gray);
}

.wrapper {
  padding: 32px 16px 125px 16px;
  display: grid;
  gap: 16px;
}

.btn {
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 992px;
    margin: auto;
  }
}
