.transaction-card h3,
.transaction-card p {
  margin: 0;
  padding: 4px 0;
}

.transaction-card {
  width: 328px;
  height: 188px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid var(--black);
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 12px;
  cursor: pointer;
}

.transaction-card:hover {
  box-shadow: 2px 2px black;
  transform: translate(-2px, -2px);
}

.transaction-card .image-container {
  overflow: hidden;
  border-radius: 10px;
  padding: 0;
  grid-row: 1 / -3;
  border: 2px solid var(--black);
}

.transaction-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.product-information {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-information div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  grid-column: 2 / 3;
  text-align: end;
  display: flex;
  justify-content: end;
}

.product-information .seller-container,
.product-information .quantity {
  justify-content: flex-start;
  gap: 3px;
}

.product-information h3,
.product-information .seller-container p:last-child {
  color: #0b5cbb;
}

.product-information button {
  align-self: end;
  align-content: end;
}

@media screen and (min-width: 1440px) {
  .transaction-card {
    width: 360px;
    grid-template-columns: 1.5fr 2fr;
  }
}
