.resultsWrapper {
  border-top: 1px solid var(--black);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 28px 16px;
}

.title {
  padding-bottom: 20px;
}

.location {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 20px;
}

/* Desktop 1200px */
.picksDesktop {
  grid-column: span 3;
  border: 2px solid var(--black);
  padding: 26px 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 2px var(--black);
  background-color: var(--white);
}

.mapDesktop {
  grid-column: 4/-1;
  border-radius: 20px;
  box-shadow: 5px 5px 2px var(--black);
}

.desktopWrapper {
  padding: 80px 150px;
  height: 85vh;
  background-color: var(--light-blue);
}
