.resultsWrapper {
  border-top: 1px solid var(--black);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 28px 16px;
}

.title {
  padding-bottom: 20px;
}

.location {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 20px;
}

/* Desktop 1200px */
.picksDesktop {
  grid-column: span 3;
  border: 2px solid var(--black);
  border-radius: 20px;
  box-shadow: 5px 5px 0px var(--black);
  background-color: var(--white);
  position: relative;
  padding: 28px 36px 70px 36px;
  height: 550px;
}

.mapDesktop {
  grid-column: 4/-1;
  border-radius: 20px;
  box-shadow: 5px 5px 0px var(--black);
  height: 650px;
}

.desktopWrapper {
  padding: 60px 150px;
}

.container {
  position: relative;
}
.displayButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
