.wrapper {
  display: grid;
  gap: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: center;
  row-gap: 10px;
}

.grid > div:last-of-type {
  margin-top: 20px;
  grid-column: 1 / -1;
}
