.transaction-detail .item-card {
  margin: "30px";
}

.backButtonWrapper {
  padding-left: 20px;
  padding-top: 16px;
}

@media screen and (min-width: 1440px) {
  .backButtonWrapper {
    padding-left: 157px;
    padding-top: 100px;
  }
}
