.number-input-wrapper {
  display: flex;
  border-radius: 8px;
  border: 2px solid #333;
}

.number-input-wrapper button {
  padding: 4px 12px;
  font-size: 32px;
  background-color: #ccc;
  color: #333;
}

.number-input-wrapper button:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.number-input-wrapper button:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.number-input-wrapper div {
  width: 100%;
  color: #333;
  font-size: 24px;
  display: grid;
  justify-content: center;
  align-items: center;
}
