.mobileWrapper {
  padding: 20px 16px;
  background-color: var(--dark-blue);
  border-bottom: 2px solid var(--black);
}
.mobileTitle {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  max-width: 375px;
  margin: auto;
}

.mobileFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  max-width: 375px;
  margin: auto;
}

.filterSVG {
  border: 1px solid red;
}

/* XL */

.xlWrapper {
  padding: 28px 41px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--black);
}

.xlLeft {
  display: flex;
  align-items: center;
}
.xlRight ul {
  display: flex;
  gap: 28px;
  align-items: center;
}

.xlRight li {
  list-style-type: none;
}
.xlRight a {
  color: var(--white);
}
.xlRight a:hover {
  color: var(--black);
}

/* .left {
  padding: 0 16px 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
}

.header {
  display: block;
  font-size: 24px;
  font-weight: bold;
  background-color: var(--gray);
} */

/* @media screen and (min-width: 769px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    margin: 0;
    color: var(--white);
    align-items: center;
  }

  .mobileTitle,
  .left {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  } */

/* .nav {
    font-size: 16px;
    display: flex;
    background-color: var(--gray);
    list-style-type: none;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
  } */

/* nav a {
    color: var(--white);
  } */

/* .title {
    font-size: 32px;
    font-weight: bold;
    margin-right: auto;
  } */

/* .left {
    display: flex;
    flex-direction: row;
    align-items: center;
  } */
/* 
  .nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    align-items: center;
  }

  .nav a {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
  } */
/* } */
