:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #404040;
  --light-gray: #9c9c9c;
  --blue: #0b5cbb;
  --light-blue: #c2deff;
  --yellow: #ffbf44;
  --dark-blue: #0b5cbb;
  --pale-blue: #e2f0ff;
  --blue: #569ae0;
}
