.dcwrapper {
  width: 100%;
  background-color: #fff;
}

.description-container {
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  padding: 20px 16px;
  box-sizing: border-box;
}

.description-container .button {
  margin-top: 35px;
}

@media screen and (min-width: 1440px) {
  .description-container {
    width: 100%;
    padding: 20px;
  }

  .description-container .button {
    margin-top: 130px;
  }
}
