.dcwrapper {
  margin-right: 70%;
  margin-top: 1rem;
}

.description-container {
  width: 330px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  padding: 20px 16px;
}

.description-container .button {
  margin-top: 35px;
}

@media screen and (min-width: 1440px) {
  .description-container {
    width: 329px;
    height: 309px;
    padding: 20px;
  }

  .description-container .button {
    margin-top: 130px;
  }
}
