.dcwrapper {
  margin-right: 70%;
  margin-top: 1rem;
}

.description-container {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  padding: 20px;
}

.description-container .button {
  padding-bottom: 0px;
  width: 100%;
}
