.wrapper {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  padding: 16px;
}
