/* Typography */

.h1-graphik-bold {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.h2-graphik-bold {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
}

.h3-graphik-bold {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.h4-graphik-bold {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.body-1-regular {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.body-2-regular {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.body-3-regular {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.body-4-regular {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.button-regular {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

/* Color */

.color-heading-body-grey {
  color: #404040;
}

.color-heading-body-white {
  color: #fff;
}

.color-placeholder {
  color: #959595;
}

.color-heading-body-black {
  color: black;
}

.color-blue {
  color: var(--blue);
}
.color-primary-2 {
  color: #569ae0;
}
.color-primary-3 {
  color: #c2deff;
}
.color-primary-4 {
  color: #e2f0ff;
}
.color-accent-1 {
  color: #ffbf44;
}
.color-accent-2 {
  color: #f0b542;
}
.color-accent-3 {
  color: #f9c96d;
}
.color-accent-4 {
  color: #fde0a9;
}
