.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.prediction {
  /* padding-top: 1rem; */
  position: absolute;
  bottom: 100%;
  background-color: var(--bg-gray);
  border-radius: 8px;
  margin-bottom: 0.3rem;
}

.predictionItem {
  /* max-width: 500px; */
  /* width: 100%; */
  text-align: left;
  cursor: pointer;
  /* padding: 0.5rem 0; */
  /* padding-left: 1rem; */
  padding: 0.5rem 1rem;
  z-index: 100 !important;
}
.predictionItem:not(:first-child) {
  border-top: 1px dotted black;
}

.predictionItem:hover {
  background-color: var(--black);
  color: var(--white);
}
