.input-container {
  background: #ffffff;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 100px;
  width: 100%;
  padding: 10px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input {
  flex: 1;
  border: 0;
  margin: 0 10px;
  height: 100%;
}

input:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: gray;
}
