.wrapper {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.btn {
  background-color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  color: #333;
}

.btn:hover {
  background-color: #ccc;
}

.btn.active {
  color: white;
  background-color: #1ea7fd;
}
